body{
    width:320px;
    height:418px;
    position:absolute; top:0; left:0;
    background:url(../images/clock_bg.png) left top repeat-x;
}
INPUT{
	font-size: 80%;	
}

.mainPanel{
	position: absolute;
	width: 292px;
	height: 280;
	text-align : 'center';
	font-size: 24px;
}

.westPanel{
	position: absolute;
	width: 300px;	
	top: 308px;
	
	text-align : center;
	color: #37c1e1;
	font-size: 24px;
	border-width:2px;
	border-style:solid;
	border-color: #37c1e1;
	
}

.numberPicker{
	position:relative;
	width: 90px;
	height: 110px;
	text-align : center;
	border-width:2px;
	border-style:solid;
	border-color:#666;
	background-color:#000000;
}
